body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.calculator-screen {
    width: 100%;
    height: 50px;
    text-align: right;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
}

.calculator-keys button {
    width: 22%;
    height: 50px;
    margin: 1%;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid #888;
    background-color: #eaeaea;
}

.calculator-keys .operator {
    background-color: #fe9241;
    color: #fff;
}

.calculator-keys .equal-sign {
    background-color: #46bd55;
    color: #fff;
}

.calculator-keys .all-clear {
    background-color: #f0595f;
    color: #fff;
}

button:active {
    transform: scale(0.98);
}

